*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   background-image: url(background.webp);
   background-attachment: fixed;
    
  .header {
      font color: orange;
  }
  
 .map{
   padding: 50ex;
   margin-left: 500000000000000000px;
   color: red;
   background-color: aqua;
 }
 